In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from pandas import DataFrame

In [2]:
def max_stock(data):
    L = []
    for i in set(data["stock"]):
        counter = list(data["stock"].values).count(i)
        L.append(counter)                                        ###L为各股票出现的次数，即交易天数
    stock_id = list(set(data["stock"]))
    stock_m = stock_id[L.index(max(L))]                           ###选出交易天数最全的一只股票
    return stock_m

In [3]:
def best_perf(data, stock_eg, T, N1, N2, K):                                 ###data为原始数据，T为所要比较的涨跌幅的日期，N1，N2为T之前和T之后的时间跨度，K为最大成交总额及涨跌幅对比数

    data['stock'] = data['stock'].astype(str)                       ###更改stock的数据类型为字符型

    start = int(stock_eg[stock_eg['date'] ==  T].index.values-N1-1)-stock_eg.index[0]                  ###寻找T前N+1天的索引位置
    middle = int(stock_eg[stock_eg['date'] == T].index.values)-1-stock_eg.index[0]             ###寻找T日前一日的索引位置
    end = middle+N2                                                 ###统计涨跌幅最后一日的索引位置
    slc = stock_eg.iloc[[start, middle, middle+1, end],:]           ###选出所需计算的股票信息
    
    init = data[data['date'] == slc['date'].values[0]]
    middle = data[data['date'] == slc['date'].values[1]]
    determ = data[data['date'] == slc['date'].values[2]]
    fina = data[data['date'] == slc['date'].values[3]]
    secl_sum = init.append(middle).sort_index()
    secl_sum = secl_sum.append(determ).sort_index()
    secl_sum = secl_sum.append(fina).sort_index()                   ####将所有在T,T-N1-1,T-1，T-1+N2时有数据的股票信息合成一张表
    
    stock_intersect = list(set(init['stock']).intersection(set(middle['stock'])))
    stock_intersect = list(set(stock_intersect).intersection(set(determ['stock'])))
    stock_intersect = list(set(stock_intersect).intersection(set(fina['stock'])))        ###选出在上述四个时段都有数据的股票
    
    stock_f = pd.DataFrame(columns = ['date', 'stock', 'close', 'turnover_sum', 'change', 'change_sum', 'turnover_N1', 'turnover_N2', 'change_N'])  ###建立一个空的dataframe
    
    for k in stock_intersect:
        starter = secl_sum[secl_sum['stock'] == k]
        turn_o = starter['turnover_sum']
        change_s = starter['change_sum']
        differ_t = turn_o.values[1]-turn_o.values[0]                  ###计算T前N1天的成交金额总量
        differ_t2 = turn_o.values[3]-turn_o.values[1]                 ###计算T后N2天的成交金额总量
        differ_c = change_s.values[3]-change_s.values[1]              ###计算T后N2天的涨跌幅
        stock_a = starter[starter['date'] == T]
        stock_a.insert(6,'turnover_N1',[differ_t])
        stock_a.insert(7,'turnover_N2',[differ_t2])
        stock_a.insert(8,'change_N',[differ_c/N2])                    ###插入N2天的平均日涨跌幅
        stock_f = stock_f.append(stock_a)

    stock_f = stock_f.sort_index()
    stock_f = stock_f[['date','stock','close','turnover_N1','turnover_N2','change_N']]
    
    stock_Tmax = stock_f.sort_values(by = ['turnover_N1'], ascending = False).head(K)     ###取出前N1天成交金额最大的K个股票
    stock_Cmax = stock_f.sort_values(by = ['change_N'], ascending = False).head(K)         ###取出N2天平均日涨跌幅最大的K个股票
    stock_best = list(set(stock_Tmax['stock']).intersection(set(stock_Cmax['stock'])))   ###取出涨跌幅及成交金额都是最大K的股票     
    
    stock_bestinf = stock_Cmax[stock_Cmax['stock'] == stock_best[0]]
    for i in stock_best[1:]:
        infom = stock_Cmax[stock_Cmax['stock'] == i]
        stock_bestinf = stock_bestinf.append(infom)                                ###获取这几只股票的具体信息
        stock_bestinf = stock_bestinf.sort_index()
    return stock_bestinf

In [4]:
def statisc(data, stock_eg, N1, N2, K):
    
    statis = pd.DataFrame(columns = ['date', 'avg_turnN1', 'avg_turnN2', 'avg_change', 'count'])

    for i in stock_eg['date'].values[N1+1:-N2+1]:
        try:
            stock_bestinf = best_perf(data, stock_eg, i, N1, N2, K)
            size = stock_bestinf.iloc[:,0].size                   ###既是前段时间成交金额总额排名靠前的，也是涨幅排名靠前的
            avg_turnN1 = stock_bestinf['turnover_N1'].mean()      ###求出满足条件股票的前N1日成交金额平均值
            avg_turnN2 = stock_bestinf['turnover_N2'].mean()      ###求出满足条件股票的后N2日成交金额平均值
            avg_change = stock_bestinf['change_N'].mean()         ###求出满足条件股票的日收益率平均值
            new_data = {'date':stock_bestinf['date'].values[0], 'avg_turnN1':avg_turnN1, 'avg_turnN2':avg_turnN2, 'avg_change':avg_change, 'count':size}
            new_add = pd.DataFrame(new_data, columns = ['date', 'avg_turnN1', 'avg_turnN2', 'avg_change', 'count'],index=[0])     ###将列表合并
            statis = statis.append(new_add, ignore_index=True)
        except:
            continue

    return statis

In [5]:
data = pd.read_csv('D:/Documents/Go Abroad/实习/成交金额/Python数据/2017/2017.csv',encoding='gbk',engine='python')

In [6]:
stock_m = 1
#stock_m = max_stock(data)
stock_eg = data[data['stock'] == stock_m]

In [7]:
statis = statisc(data, stock_eg, 10, 20, 100)
statis

           date    avg_turnN1    avg_turnN2  avg_change count
0    2017-01-18  8.604112e+09  1.945946e+10    0.013371     6
1    2017-01-19  7.827315e+09  1.651508e+10    0.013184     7
2    2017-01-20  8.341427e+09  1.624903e+10    0.014294     7
3    2017-01-23  9.146765e+09  2.021314e+10    0.012761     6
4    2017-01-24  9.699318e+09  2.202378e+10    0.014293     4
5    2017-01-25  7.529423e+09  1.836173e+10    0.014857     7
6    2017-01-26  6.821371e+09  1.793309e+10    0.014500     7
7    2017-02-03  6.177595e+09  1.550982e+10    0.010927    12
8    2017-02-06  5.742867e+09  1.551276e+10    0.011196     6
9    2017-02-07  5.301671e+09  1.917674e+10    0.012698     5
10   2017-02-08  4.992164e+09  2.171765e+10    0.014220     7
11   2017-02-09  5.304951e+09  2.132419e+10    0.014208     7
12   2017-02-10  6.621975e+09  2.128061e+10    0.013904     8
13   2017-02-13  7.174547e+09  2.321244e+10    0.014952     7
14   2017-02-14  7.546451e+09  2.195444e+10    0.016439     5
15   2017-02-15  7.352268e+09  1.585476e+10    0.018289     4
16   2017-02-16  7.935636e+09  1.801514e+10    0.018131     5
17   2017-02-17  7.987049e+09  2.057765e+10    0.017848     6
18   2017-02-20  8.516574e+09  1.942982e+10    0.014772     6
19   2017-02-21  1.096311e+10  2.331838e+10    0.015479     6
20   2017-02-22  8.708824e+09  1.762133e+10    0.013679     6
21   2017-02-23  8.287171e+09  1.605915e+10    0.013711     7
22   2017-02-24  9.611785e+09  1.933197e+10    0.013700    10
23   2017-02-27  1.375063e+10  2.635027e+10    0.012477     7
24   2017-02-28  1.151757e+10  2.321082e+10    0.013616    10
25   2017-03-01  1.360751e+10  2.825289e+10    0.011270     6
26   2017-03-02  7.936203e+09  1.756485e+10    0.010228     5
27   2017-03-03  8.416090e+09  2.247451e+10    0.010461     6
28   2017-03-06  1.001901e+10  3.070079e+10    0.009829     6
29   2017-03-07  9.634712e+09  2.275945e+10    0.011171     7
..          ...           ...           ...         ...   ...
184  2017-10-24  1.573806e+10  5.147193e+10    0.011988    18
185  2017-10-25  1.514868e+10  5.571811e+10    0.013408    17
186  2017-10-26  1.229696e+10  4.722958e+10    0.013205    13
187  2017-10-27  1.289495e+10  5.303498e+10    0.010092    14
188  2017-10-30  1.374047e+10  5.705406e+10    0.009635    10
189  2017-10-31  1.716977e+10  7.226279e+10    0.008403     5
190  2017-11-01  1.001910e+10  4.408439e+10    0.009693     7
191  2017-11-02  1.045184e+10  3.846161e+10    0.009751    10
192  2017-11-03  1.115876e+10  4.488602e+10    0.009354     7
193  2017-11-06  1.169150e+10  4.161541e+10    0.009882     7
194  2017-11-07  1.098127e+10  3.817440e+10    0.010470    13
195  2017-11-08  1.326700e+10  4.492094e+10    0.007577    16
196  2017-11-09  1.263103e+10  4.061172e+10    0.009421    10
197  2017-11-10  1.064078e+10  3.519768e+10    0.009355     8
198  2017-11-13  1.096476e+10  3.581808e+10    0.008769     8
199  2017-11-14  1.126256e+10  3.590183e+10    0.009131     7
200  2017-11-15  1.305807e+10  3.508606e+10    0.007789     7
201  2017-11-16  1.245972e+10  3.454528e+10    0.010438     6
202  2017-11-17  1.206458e+10  3.306357e+10    0.009178     7
203  2017-11-20  1.198127e+10  3.634723e+10    0.013492     4
204  2017-11-21  1.506943e+10  5.086954e+10    0.009574     2
205  2017-11-22  1.429706e+10  4.529169e+10    0.012810     1
206  2017-11-23  1.949367e+10  4.567648e+10    0.010113     2
207  2017-11-24  1.433467e+10  2.847409e+10    0.010168     5
208  2017-11-27  1.580008e+10  3.260147e+10    0.011380     4
209  2017-11-28  1.389041e+10  2.853270e+10    0.010571     9
210  2017-11-29  1.671789e+10  3.520553e+10    0.009686     6
211  2017-11-30  2.065378e+10  4.611624e+10    0.008454     3
212  2017-12-01  2.132538e+10  3.526242e+10    0.007773     7
213  2017-12-04  1.425688e+10  3.340925e+10    0.007559     6

[214 rows x 5 columns]

In [8]:
statis.to_csv('D:/Documents/Go Abroad/实习/成交金额/Python数据/2017/2017-10-20.csv', index=False)

In [8]:
stock_eg

,date,stock,close,volume,turnover,value,turnover_sum,change,change_sum
0,2017-01-03,1,9.16,45984049,4.205952e+08,1.340216e+08,4.205952e+08,NaN,NaN
1,2017-01-04,1,9.16,44932953,4.115034e+08,1.340216e+08,8.320986e+08,0.000000,0.000000
2,2017-01-05,1,9.17,34437291,3.157697e+08,1.341679e+08,1.147868e+09,0.001092,0.001092
3,2017-01-06,1,9.13,35815420,3.271764e+08,1.335827e+08,1.475045e+09,-0.004362,-0.003270
4,2017-01-09,1,9.15,36108157,3.299946e+08,1.547996e+08,1.805039e+09,0.002191,-0.001080
5,2017-01-10,1,9.15,24105395,2.205751e+08,1.547996e+08,2.025614e+09,0.000000,-0.001080
6,2017-01-11,1,9.14,30343089,2.775532e+08,1.546304e+08,2.303168e+09,-0.001093,-0.002173
7,2017-01-12,1,9.15,42800677,3.918694e+08,1.547996e+08,2.695037e+09,0.001094,-0.001079
8,2017-01-13,1,9.16,43430137,3.976019e+08,1.549688e+08,3.092639e+09,0.001093,0.000014
9,2017-01-16,1,9.14,68316586,6.230258e+08,1.546304e+08,3.715665e+09,-0.002183,-0.002169
10,2017-01-17,1,9.15,54555237,4.981797e+08,1.547996e+08,4.213845e+09,0.001094,-0.001075
11,2017-01-18,1,9.17,57426939,5.264266e+08,1.551380e+08,4.740271e+09,0.002186,0.001111
12,2017-01-19,1,9.18,43771286,4.024456e+08,1.553071e+08,5.142717e+09,0.001091,0.002201
13,2017-01-20,1,9.22,39332857,3.618652e+08,1.559839e+08,5.504582e+09,0.004357,0.006559
14,2017-01-23,1,9.22,42029931,3.880191e+08,1.559839e+08,5.892601e+09,0.000000,0.006559
15,2017-01-24,1,9.27,47024408,4.347877e+08,1.568298e+08,6.327389e+09,0.005423,0.011982
16,2017-01-25,1,9.26,30440196,2.819763e+08,1.566606e+08,6.609365e+09,-0.001079,0.010903
17,2017-01-26,1,9.33,42071258,3.918443e+08,1.578448e+08,7.001209e+09,0.007559,0.018462
18,2017-02-03,1,9.26,31547224,2.926179e+08,1.566606e+08,7.293827e+09,-0.007503,0.010960
19,2017-02-06,1,9.31,51678611,4.804413e+08,1.575065e+08,7.774269e+09,0.005400,0.016359
20,2017-02-07,1,9.30,39688497,3.687553e+08,1.573373e+08,8.143024e+09,-0.001074,0.015285
21,2017-02-08,1,9.30,36027242,3.339754e+08,1.573373e+08,8.476999e+09,0.000000,0.015285
22,2017-02-09,1,9.31,34285513,3.192010e+08,1.575065e+08,8.796200e+09,0.001075,0.016360
23,2017-02-10,1,9.33,48274323,4.507013e+08,1.578448e+08,9.246902e+09,0.002148,0.018509
24,2017-02-13,1,9.41,63836475,5.999510e+08,1.591983e+08,9.846853e+09,0.008574,0.027083
25,2017-02-14,1,9.40,36240460,3.403184e+08,1.590291e+08,1.018717e+10,-0.001063,0.026020
26,2017-02-15,1,9.45,75661306,7.167597e+08,1.598750e+08,1.090393e+10,0.005319,0.031339
27,2017-02-16,1,9.46,41116113,3.886362e+08,1.600442e+08,1.129257e+10,0.001058,0.032398
28,2017-02-17,1,9.39,42377497,4.001618e+08,1.588599e+08,1.169273e+10,-0.007400,0.024998
29,2017-02-20,1,9.56,89875539,8.557108e+08,1.617360e+08,1.254844e+10,0.018104,0.043102
...,...,...,...,...,...,...,...,...,...
214,2017-11-20,1,14.25,284392582,3.860145e+09,2.410814e+08,1.890038e+11,0.081184,0.465409
215,2017-11-21,1,14.45,249532781,3.609849e+09,2.444650e+08,1.926137e+11,0.014035,0.479444
216,2017-11-22,1,15.10,257023146,3.839501e+09,2.554616e+08,1.964532e+11,0.044983,0.524427
217,2017-11-23,1,14.35,242914214,3.562843e+09,2.427732e+08,2.000160e+11,-0.049669,0.474758
218,2017-11-24,1,14.56,263018967,3.732597e+09,2.463259e+08,2.037486e+11,0.014634,0.489392
219,2017-11-27,1,13.93,206408533,2.878492e+09,2.356676e+08,2.066271e+11,-0.043269,0.446123
220,2017-11-28,1,13.70,176643250,2.396540e+09,2.317765e+08,2.090236e+11,-0.016511,0.429611
221,2017-11-29,1,13.82,156409493,2.148313e+09,2.338066e+08,2.111720e+11,0.008759,0.438371
222,2017-11-30,1,13.38,137963571,1.866701e+09,2.263627e+08,2.130387e+11,-0.031838,0.406533
223,2017-12-01,1,13.00,178493315,2.354300e+09,2.199339e+08,2.153930e+11,-0.028401,0.378132
224,2017-12-04,1,13.30,145402345,1.923316e+09,2.250093e+08,2.173163e+11,0.023077,0.401209
225,2017-12-05,1,13.30,172368132,2.301868e+09,2.250093e+08,2.196181e+11,0.000000,0.401209
226,2017-12-06,1,13.08,161984496,2.104169e+09,2.212873e+08,2.217223e+11,-0.016541,0.384668
227,2017-12-07,1,12.83,118195784,1.526953e+09,2.170578e+08,2.232493e+11,-0.019113,0.365554
228,2017-12-08,1,13.09,135131504,1.751423e+09,2.214565e+08,2.250007e+11,0.020265,0.385819
229,2017-12-11,1,13.50,226195273,2.980736e+09,2.283929e+08,2.279814e+11,0.031322,0.417141
230,2017-12-12,1,13.02,174340579,2.302355e+09,2.202722e+08,2.302838e+11,-0.035556,0.381586
231,2017-12-13,1,13.13,128924811,1.679022e+09,2.221332e+08,2.319628e+11,0.008449,0.390034
232,2017-12-14,1,13.00,100199798,1.311132e+09,2.199339e+08,2.332739e+11,-0.009901,0.380133
233,2017-12-15,1,12.72,109995250,1.405372e+09,2.151968e+08,2.346793e+11,-0.021538,0.358595
234,2017-12-18,1,12.75,80546452,1.029423e+09,2.157044e+08,2.357087e+11,0.002358,0.360953
235,2017-12-19,1,13.28,239794295,3.138688e+09,2.246709e+08,2.388474e+11,0.041569,0.402522
236,2017-12-20,1,13.26,110624507,1.463802e+09,2.243325e+08,2.403112e+11,-0.001506,0.401016
237,2017-12-21,1,13.54,148520344,2.005618e+09,2.290696e+08,2.423168e+11,0.021116,0.422132
238,2017-12-22,1,13.52,74290095,1.004526e+09,2.287312e+08,2.433214e+11,-0.001477,0.420655
239,2017-12-25,1,13.25,158556718,2.145041e+09,2.241634e+08,2.454664e+11,-0.019970,0.400684
240,2017-12-26,1,13.66,112368845,1.510826e+09,2.310997e+08,2.469772e+11,0.030943,0.431628
241,2017-12-27,1,13.29,136656673,1.848165e+09,2.248401e+08,2.488254e+11,-0.027086,0.404541
242,2017-12-28,1,13.21,155303047,2.052945e+09,2.234866e+08,2.508783e+11,-0.006020,0.398522
243,2017-12-29,1,13.30,98291553,1.303222e+09,2.250093e+08,2.521816e+11,0.006813,0.405335

In [16]:
N1 = 55
N2 = 15
K = 100

for i in stock_eg['date'].values[227:-15]:
    try:     
        stock_bestinf = best_perf(data, stock_eg, i, N1, N2, K)
        size = stock_bestinf.iloc[:,0].size                 ###既是前段时间成交金额总额排名靠前的，也是涨幅排名靠前的
        avg_change = stock_bestinf['change_N'].mean()       ###求出满足条件股票的日收益率平均值
        new_data = {'date':stock_bestinf['date'].values[0], 'avg_change':avg_change, 'count':size}
        new_add = pd.DataFrame(new_data, columns = ['date', 'avg_change', 'count'], index=[0])     ###将列表合并
        statis = statis.append(new_add, ignore_index=True)
    except:
        continue

In [17]:
statis

         date  avg_change count
0  2017-12-07    0.010528     3
1  2017-12-08    0.012087    11

In [13]:
stock_eg['date'].values[227:-15]

array(['2017-12-07', '2017-12-08'], dtype=object)

In [ ]:
N1 = 231
N2 = 10
K = 100

for i in stock_eg['date'].values[N1+1:-N2]:
    stock_bestinf = best_perf(data, stock_eg, i, N1, N2, K)
    size = stock_bestinf.iloc[:,0].size                 ###既是前段时间成交金额总额排名靠前的，也是涨幅排名靠前的
    avg_change = stock_bestinf['change_N'].mean()       ###求出满足条件股票的日收益率平均值
    new_data = {'date':stock_bestinf['date'].values[0], 'avg_change':avg_change, 'count':size}
    new_add = pd.DataFrame(new_data, columns = ['date', 'avg_change', 'count'],index=[0])     ###将列表合并
    statis = statis.append(new_add, ignore_index=True)

In [8]:
stock_bestinf = best_perf(data, stock_eg, '2017-11-20', 30, 10, 100)

In [9]:
stock_bestinf

              date   stock   close    turnover_N  change_N
93380   2017-11-20     830   15.00  1.964543e+10  0.015973
139822  2017-11-20    2049   42.46  2.824993e+10  0.028531
241459  2017-11-20    2497   13.96  2.362274e+10  0.013923
605612  2017-11-20  300618  214.09  2.439109e+10  0.029921
644905  2017-11-20  603993    6.22  2.870980e+10  0.016623
665983  2017-11-20  600460   11.27  3.295912e+10  0.024358
686514  2017-11-20  603799   81.27  4.577075e+10  0.013235

In [11]:
size = stock_bestinf.iloc[:,0].size         ###既是前段时间成交金额总额排名靠前的，也是涨幅排名靠前的
size

7

In [16]:
avg_change = stock_bestinf['change_N'].mean()
avg_change

0.020366266519649835

In [19]:
new_data = {'date':stock_bestinf['date'].values[0], 'avg_change':avg_change, 'count':size}

In [22]:
new_add = pd.DataFrame(new_data, columns = ['date', 'avg_change', 'count'],index=[0])     ###将列表合并

In [23]:
new_add

         date  avg_change  count
0  2017-11-20    0.020366      7