·原始数据处理

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from pandas import DataFrame

In [2]:
def sum_accum(df,N):     #求某一段区间内的累计和的函数
    sume = list()
    a=[0]
    for i in range(N):
        a = a + df.values[i]
        a.tolist()
        sume.extend(a)
    return sume

In [3]:
def data_processing(data):
    
    ######将读取的原始数据进行简单处理，以日期作为索引，并将"stock","close","volume","turnover","value"作为列名#########
    data = data.set_index('Trddt')
    data.columns = ["stock","close","volume","turnover","value"]
    data.index.name = "date"

    stock_sum = pd.DataFrame(columns = ['stock', 'close', 'turnover_sum', 'MV_ratio', 'change'])  ##建立一个空的dataframe

    ######对所有股票进行循环，并将其存入stock_sum中#######################
    for i in list(set(data["stock"])):
        stock_eg = data[data["stock"] == i]
        stock_eg = stock_eg.sort_index()                  #将dataframe按照索引从小到大排列
        turnover = stock_eg['turnover']
        close = stock_eg["close"]
        MV = stock_eg['value']
        turnover_sum = sum_accum(turnover,len(stock_eg))
        MV_ratio = sum_accum(turnover/MV,len(stock_eg))
        change = close.pct_change(periods=1, fill_method='pad')    #求每日涨跌函数
        stock_eg["turnover_sum"] = turnover_sum
        stock_eg['MV_ratio'] = MV_ratio
        stock_eg["change"] = change
        stock_eg = stock_eg[['stock', 'close', 'turnover_sum', 'MV_ratio', 'change']]
        stock_sum = stock_sum.append(stock_eg)
    
    stock_sum['change_sum'] = stock_sum['change'].groupby(stock_sum['stock']).cumsum()
    stock_sum.index.name = 'date'
    return stock_sum

In [4]:
data = pd.read_table('D:/Documents/Go Abroad/实习/成交金额/原始数据/2017.txt',encoding='gbk',engine='python')

In [5]:
stock = data_processing(data)

In [6]:
stock.to_csv('D:/Documents/Go Abroad/实习/成交金额/Python数据/2017_2/2017.csv')

·成交金额市值比及涨跌幅

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from pandas import DataFrame

In [2]:
def max_stock(data):
    L = []
    for i in set(data["stock"]):
        counter = list(data["stock"].values).count(i)
        L.append(counter)                                        ###L为各股票出现的次数，即交易天数
    stock_id = list(set(data["stock"]))
    stock_m = stock_id[L.index(max(L))]                           ###选出交易天数最全的一只股票
    return stock_m

In [3]:
def best_perf(data, stock_eg, T, N1, N2, K):                                 ###data为原始数据，T为所要比较的涨跌幅的日期，N1，N2为T之前和T之后的时间跨度，K为最大成交总额及涨跌幅对比数
    #data = data[['date','stock','close','turnover_sum','change']]
    #data['stock'] = data['stock'].astype(str)                       ###更改stock的数据类型为字符型

    start = int(stock_eg[stock_eg['date'] ==  T].index.values-N1-1)-stock_eg.index[0]                  ###寻找T前N+1天的索引位置
    middle = int(stock_eg[stock_eg['date'] == T].index.values)-1-stock_eg.index[0]             ###寻找T日前一日的索引位置
    end = middle+N2                                                 ###统计涨跌幅最后一日的索引位置
    slc = stock_eg.iloc[[start, middle, middle+1, end],:]           ###选出所需计算的股票信息
    
    init = data[data['date'] == slc['date'].values[0]]
    middle = data[data['date'] == slc['date'].values[1]]
    determ = data[data['date'] == slc['date'].values[2]]
    fina = data[data['date'] == slc['date'].values[3]]
    secl_sum = init.append(middle).sort_index()
    secl_sum = secl_sum.append(determ).sort_index()
    secl_sum = secl_sum.append(fina).sort_index()                   ####将所有在T,T-N1-1,T-1，T-1+N2时有数据的股票信息合成一张表
    
    stock_intersect = list(set(init['stock']).intersection(set(middle['stock'])))
    stock_intersect = list(set(stock_intersect).intersection(set(determ['stock'])))
    stock_intersect = list(set(stock_intersect).intersection(set(fina['stock'])))        ###选出在上述四个时段都有数据的股票
    
    stock_f = pd.DataFrame(columns = ['date', 'stock', 'close', 'turnover_sum', 'change', 'change_sum', 'turnover_N1', 'turnover_N2', 'MV_N', 'change_N'])  ###建立一个空的dataframe
    
    for k in stock_intersect:
        starter = secl_sum[secl_sum['stock'] == k]
        turn_o = starter['turnover_sum']
        change_s = starter['change_sum']
        MV_s = starter['MV_ratio']
        differ_t = turn_o.values[1]-turn_o.values[0]                  ###计算T前N1天的成交金额总量
        differ_t2 = turn_o.values[3]-turn_o.values[1]                 ###计算T后N2天的成交金额总量
        differ_m = MV_s.values[1]-MV_s.values[0]                      ###计算T前N1天的市值比总量
        differ_c = change_s.values[3]-change_s.values[1]              ###计算T后N2天的涨跌幅
        stock_a = starter[starter['date'] == T]
        stock_a.insert(6,'turnover_N1',[differ_t])
        stock_a.insert(7,'turnover_N2',[differ_t2])
        stock_a.insert(8,'MV_N',[differ_m])
        stock_a.insert(9,'change_N',[differ_c/N2])                    ###插入N2天的平均日涨跌幅
        stock_f = stock_f.append(stock_a)

    stock_f = stock_f.sort_index()
    stock_f = stock_f[['date','stock','close','turnover_N1','turnover_N2', 'MV_N', 'change_N']]
    
    stock_Tmax = stock_f.sort_values(by = ['MV_N'], ascending = False).head(K)     ###取出N天成交金额最大的K个股票
    stock_Cmax = stock_f.sort_values(by = ['change_N'], ascending = False).head(K)         ###取出T日涨跌幅最大的K个股票
    stock_best = list(set(stock_Tmax['stock']).intersection(set(stock_Cmax['stock'])))   ###取出涨跌幅及成交金额都是最大K的股票     
    
    stock_bestinf = stock_Cmax[stock_Cmax['stock'] == stock_best[0]]
    for i in stock_best[1:]:
        infom = stock_Cmax[stock_Cmax['stock'] == i]
        stock_bestinf = stock_bestinf.append(infom)                                ###获取这几只股票的具体信息
        stock_bestinf = stock_bestinf.sort_index()
    return stock_bestinf

In [4]:
data = pd.read_csv('D:/Documents/Go Abroad/实习/成交金额/Python数据/2017_2/2017.csv',encoding='gbk',engine='python')

In [5]:
#stock_m = max_stock(data)

stock_eg = data[data['stock'] == 1]

In [6]:
stock_eg

           date  stock  close  turnover_sum     MV_ratio    change  change_sum
0    2017-01-03      1   9.16  4.205952e+08     3.138264       NaN         NaN
1    2017-01-04      1   9.16  8.320986e+08     6.208690  0.000000    0.000000
2    2017-01-05      1   9.17  1.147868e+09     8.562231  0.001092    0.001092
3    2017-01-06      1   9.13  1.475045e+09    11.011474 -0.004362   -0.003270
4    2017-01-09      1   9.15  1.805039e+09    13.143227  0.002191   -0.001080
5    2017-01-10      1   9.15  2.025614e+09    14.568135  0.000000   -0.001080
6    2017-01-11      1   9.14  2.303168e+09    16.363080 -0.001093   -0.002173
7    2017-01-12      1   9.15  2.695037e+09    18.894543  0.001094   -0.001079
8    2017-01-13      1   9.16  3.092639e+09    21.460233  0.001093    0.000014
9    2017-01-16      1   9.14  3.715665e+09    25.489362 -0.002183   -0.002169
10   2017-01-17      1   9.15  4.213845e+09    28.707585  0.001094   -0.001075
11   2017-01-18      1   9.17  4.740271e+09    32.100865  0.002186    0.001111
12   2017-01-19      1   9.18  5.142717e+09    34.692154  0.001091    0.002201
13   2017-01-20      1   9.22  5.504582e+09    37.012042  0.004357    0.006559
14   2017-01-23      1   9.22  5.892601e+09    39.499601  0.000000    0.006559
15   2017-01-24      1   9.27  6.327389e+09    42.271956  0.005423    0.011982
16   2017-01-25      1   9.26  6.609365e+09    44.071874 -0.001079    0.010903
17   2017-01-26      1   9.33  7.001209e+09    46.554339  0.007559    0.018462
18   2017-02-03      1   9.26  7.293827e+09    48.422186 -0.007503    0.010960
19   2017-02-06      1   9.31  7.774269e+09    51.472482  0.005400    0.016359
20   2017-02-07      1   9.30  8.143024e+09    53.816206 -0.001074    0.015285
21   2017-02-08      1   9.30  8.476999e+09    55.938877  0.000000    0.015285
22   2017-02-09      1   9.31  8.796200e+09    57.965467  0.001075    0.016360
23   2017-02-10      1   9.33  9.246902e+09    60.820811  0.002148    0.018509
24   2017-02-13      1   9.41  9.846853e+09    64.589388  0.008574    0.027083
25   2017-02-14      1   9.40  1.018717e+10    66.729364 -0.001063    0.026020
26   2017-02-15      1   9.45  1.090393e+10    71.212615  0.005319    0.031339
27   2017-02-16      1   9.46  1.129257e+10    73.640920  0.001058    0.032398
28   2017-02-17      1   9.39  1.169273e+10    76.159880 -0.007400    0.024998
29   2017-02-20      1   9.56  1.254844e+10    81.450669  0.018104    0.043102
..          ...    ...    ...           ...          ...       ...         ...
214  2017-11-20      1  14.25  1.890038e+11  1059.562697  0.081184    0.465409
215  2017-11-21      1  14.45  1.926137e+11  1074.329023  0.014035    0.479444
216  2017-11-22      1  15.10  1.964532e+11  1089.358681  0.044983    0.524427
217  2017-11-23      1  14.35  2.000160e+11  1104.034288 -0.049669    0.474758
218  2017-11-24      1  14.56  2.037486e+11  1119.187371  0.014634    0.489392
219  2017-11-27      1  13.93  2.066271e+11  1131.401574 -0.043269    0.446123
220  2017-11-28      1  13.70  2.090236e+11  1141.741452 -0.016511    0.429611
221  2017-11-29      1  13.82  2.111720e+11  1150.929868  0.008759    0.438371
222  2017-11-30      1  13.38  2.130387e+11  1159.176372 -0.031838    0.406533
223  2017-12-01      1  13.00  2.153930e+11  1169.880952 -0.028401    0.378132
224  2017-12-04      1  13.30  2.173163e+11  1178.428670  0.023077    0.401209
225  2017-12-05      1  13.30  2.196181e+11  1188.658772  0.000000    0.401209
226  2017-12-06      1  13.08  2.217223e+11  1198.167535 -0.016541    0.384668
227  2017-12-07      1  12.83  2.232493e+11  1205.202312 -0.019113    0.365554
228  2017-12-08      1  13.09  2.250007e+11  1213.110968  0.020265    0.385819
229  2017-12-11      1  13.50  2.279814e+11  1226.161882  0.031322    0.417141
230  2017-12-12      1  13.02  2.302838e+11  1236.614198 -0.035556    0.381586
231  2017-12-13      1  13.13  2.319628e+11  1244.172825  0.008449    0.390034
232  2017-12-14      1  13.00  2.332739e+11  1250.134308 -0.009901    0.380133
233  2017-12-15      1  12.72  2.346793e+11  1256.664943 -0.021538    0.358595
234  2017-12-18      1  12.75  2.357087e+11  1261.437321  0.002358    0.360953
235  2017-12-19      1  13.28  2.388474e+11  1275.407477  0.041569    0.402522
236  2017-12-20      1  13.26  2.403112e+11  1281.932621 -0.001506    0.401016
237  2017-12-21      1  13.54  2.423168e+11  1290.688116  0.021116    0.422132
238  2017-12-22      1  13.52  2.433214e+11  1295.079846 -0.001477    0.420655
239  2017-12-25      1  13.25  2.454664e+11  1304.648942 -0.019970    0.400684
240  2017-12-26      1  13.66  2.469772e+11  1311.186493  0.030943    0.431628
241  2017-12-27      1  13.29  2.488254e+11  1319.406402 -0.027086    0.404541
242  2017-12-28      1  13.21  2.508783e+11  1328.592385 -0.006020    0.398522
243  2017-12-29      1  13.30  2.521816e+11  1334.384244  0.006813    0.405335

[244 rows x 7 columns]

In [7]:
stock_bestinf = best_perf(data, stock_eg, '2017-04-07', 60, 30, 100)

In [8]:
stock_bestinf

             date stock  close   turnover_N1   turnover_N2  MV_N  change_N
2188   2017-04-07    11  16.91  8.801985e+09  7.512055e+09   NaN  0.003842
4658   2017-04-07    22  21.98  7.198629e+09  9.839750e+09   NaN  0.004047
12421  2017-04-07    62  25.92  4.108068e+09  6.076053e+09   NaN  0.010946
12657  2017-04-07    63  17.26  4.043515e+10  1.743591e+10   NaN  0.003548
14118  2017-04-07    69   7.51  9.161213e+09  1.140383e+10   NaN  0.004422
15764  2017-04-07    88   8.75  5.833334e+09  1.558552e+10   NaN  0.003681
20494  2017-04-07   158  12.44  4.103636e+09  2.491235e+10   NaN  0.010029

·统计各交易日情况

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from pandas import DataFrame

In [2]:
def max_stock(data):
    L = []
    for i in set(data["stock"]):
        counter = list(data["stock"].values).count(i)
        L.append(counter)                                        ###L为各股票出现的次数，即交易天数
    stock_id = list(set(data["stock"]))
    stock_m = stock_id[L.index(max(L))]                           ###选出交易天数最全的一只股票
    return stock_m

In [3]:
def best_perf(data, stock_eg, T, N1, N2, K):                                 ###data为原始数据，T为所要比较的涨跌幅的日期，N1，N2为T之前和T之后的时间跨度，K为最大成交总额及涨跌幅对比数
    #data = data[['date','stock','close','turnover_sum','change']]
    #data['stock'] = data['stock'].astype(str)                       ###更改stock的数据类型为字符型

    start = int(stock_eg[stock_eg['date'] ==  T].index.values-N1-1)-stock_eg.index[0]                  ###寻找T前N+1天的索引位置
    middle = int(stock_eg[stock_eg['date'] == T].index.values)-1-stock_eg.index[0]             ###寻找T日前一日的索引位置
    end = middle+N2                                                 ###统计涨跌幅最后一日的索引位置
    slc = stock_eg.iloc[[start, middle, middle+1, end],:]           ###选出所需计算的股票信息
    
    init = data[data['date'] == slc['date'].values[0]]
    middle = data[data['date'] == slc['date'].values[1]]
    determ = data[data['date'] == slc['date'].values[2]]
    fina = data[data['date'] == slc['date'].values[3]]
    secl_sum = init.append(middle).sort_index()
    secl_sum = secl_sum.append(determ).sort_index()
    secl_sum = secl_sum.append(fina).sort_index()                   ####将所有在T,T-N1-1,T-1，T-1+N2时有数据的股票信息合成一张表
    
    stock_intersect = list(set(init['stock']).intersection(set(middle['stock'])))
    stock_intersect = list(set(stock_intersect).intersection(set(determ['stock'])))
    stock_intersect = list(set(stock_intersect).intersection(set(fina['stock'])))        ###选出在上述四个时段都有数据的股票
    
    stock_f = pd.DataFrame(columns = ['date', 'stock', 'close', 'turnover_sum', 'change', 'change_sum', 'turnover_N1', 'turnover_N2', 'MV_N', 'change_N'])  ###建立一个空的dataframe
    
    for k in stock_intersect:
        starter = secl_sum[secl_sum['stock'] == k]
        turn_o = starter['turnover_sum']
        change_s = starter['change_sum']
        MV_s = starter['MV_ratio']
        differ_t = turn_o.values[1]-turn_o.values[0]                  ###计算T前N1天的成交金额总量
        differ_t2 = turn_o.values[3]-turn_o.values[1]                 ###计算T后N2天的成交金额总量
        differ_m = MV_s.values[1]-MV_s.values[0]                      ###计算T前N1天的市值比总量
        differ_c = change_s.values[3]-change_s.values[1]              ###计算T后N2天的涨跌幅
        stock_a = starter[starter['date'] == T]
        stock_a.insert(6,'turnover_N1',[differ_t])
        stock_a.insert(7,'turnover_N2',[differ_t2])
        stock_a.insert(8,'MV_N',[differ_m])
        stock_a.insert(9,'change_N',[differ_c/N2])                    ###插入N2天的平均日涨跌幅
        stock_f = stock_f.append(stock_a)

    stock_f = stock_f.sort_index()
    stock_f = stock_f[['date','stock','close','turnover_N1','turnover_N2', 'MV_N', 'change_N']]
    
    stock_Tmax = stock_f.sort_values(by = ['MV_N'], ascending = False).head(K)     ###取出N天成交金额市值比最大的K个股票
    stock_Cmax = stock_f.sort_values(by = ['change_N'], ascending = False).head(K)         ###取出T日涨跌幅最大的K个股票
    stock_best = list(set(stock_Tmax['stock']).intersection(set(stock_Cmax['stock'])))   ###取出涨跌幅及成交金额都是最大K的股票     
    
    stock_bestinf = stock_Cmax[stock_Cmax['stock'] == stock_best[0]]
    for i in stock_best[1:]:
        infom = stock_Cmax[stock_Cmax['stock'] == i]
        stock_bestinf = stock_bestinf.append(infom)                                ###获取这几只股票的具体信息
        stock_bestinf = stock_bestinf.sort_index()
    return stock_bestinf

In [4]:
def statisc(data, stock_eg, N1, N2, K):
    
    statis = pd.DataFrame(columns = ['date','stock','close','turnover_N1','turnover_N2','change_N'])

    for i in stock_eg['date'].values[N1+1:-N2+1]:
        try:
            stock_bestinf = best_perf(data, stock_eg, i, N1, N2, K)
            statis = statis.append(stock_bestinf, ignore_index=True)
        except:
            continue

    return statis

In [5]:
data = pd.read_csv('D:/Documents/Go Abroad/实习/成交金额/Python数据//2017_2/2017.csv',encoding='gbk',engine='python')

In [6]:
stock_m = 1
#stock_m = max_stock(data)
stock_eg = data[data['stock'] == stock_m]

In [7]:
statis = statisc(data, stock_eg, 60, 30, 100)
statis

,MV_N,change_N,close,date,stock,turnover_N1,turnover_N2
0,8760.825119,0.007910,53.83,2017-04-07,2837,9.639468e+09,4.093583e+09
1,7511.008153,0.007591,13.07,2017-04-07,600908,1.795445e+10,1.666955e+10
2,10837.462885,0.007233,130.56,2017-04-07,300571,1.232685e+10,4.054402e+09
3,6278.492456,0.009371,83.55,2017-04-07,300577,8.000032e+09,2.499408e+09
4,8834.755035,0.004539,51.73,2017-04-10,2837,9.719104e+09,4.317166e+09
5,7586.617636,0.006339,13.38,2017-04-10,600908,1.814617e+10,1.721181e+10
6,10933.624520,0.005464,122.00,2017-04-10,300571,1.245366e+10,4.057310e+09
7,6401.484376,0.009609,82.26,2017-04-10,300577,8.172051e+09,2.460254e+09
8,8922.982771,0.005900,52.24,2017-04-11,2837,9.810443e+09,4.504885e+09
9,7754.339980,0.004631,14.50,2017-04-11,600908,1.857281e+10,1.757083e+10
10,11305.165171,0.005972,35.84,2017-04-11,603032,1.200819e+10,2.462290e+09
11,11094.815030,0.006528,134.00,2017-04-11,300571,1.265186e+10,3.932547e+09
12,9030.788295,0.004357,50.37,2017-04-12,2837,9.923174e+09,4.591888e+09
13,11387.865093,0.005012,35.82,2017-04-12,603032,1.210720e+10,2.448567e+09
14,11176.911563,0.003975,135.10,2017-04-12,300571,1.277018e+10,3.874731e+09
15,9080.513035,0.004531,49.95,2017-04-13,2837,9.973361e+09,4.759182e+09
16,11443.099498,0.007364,36.52,2017-04-13,603032,1.217330e+10,2.572603e+09
17,11275.727665,0.003121,135.37,2017-04-13,300571,1.290887e+10,3.914952e+09
18,9125.806342,0.008141,49.26,2017-04-14,2837,1.001860e+10,5.029685e+09
19,11530.460767,0.007720,37.05,2017-04-14,603032,1.227998e+10,2.585161e+09
20,10376.089940,0.005309,24.83,2017-04-14,603098,1.649939e+10,6.087881e+09
21,11142.501759,0.002888,134.00,2017-04-14,300571,1.278816e+10,3.912883e+09
22,14520.654792,0.006028,17.80,2017-04-14,603689,2.444226e+10,6.251243e+09
23,15813.838625,0.008799,29.12,2017-04-17,2836,1.897814e+10,1.554628e+10
24,9162.313914,0.010476,46.21,2017-04-17,2837,1.005405e+10,5.496594e+09
25,11609.348874,0.006871,34.93,2017-04-17,603032,1.237769e+10,2.549583e+09
26,10355.326935,0.005674,22.58,2017-04-17,603098,1.649362e+10,6.857040e+09
27,10556.868476,0.003569,128.80,2017-04-17,300571,1.221974e+10,3.874086e+09
28,14592.808664,0.007083,17.07,2017-04-17,603689,2.455020e+10,6.301206e+09
29,15886.565255,0.008962,26.21,2017-04-18,2836,1.906561e+10,1.590117e+10
...,...,...,...,...,...,...,...
985,9608.286831,0.005699,19.39,2017-11-07,2742,2.380505e+10,7.352800e+09
986,7197.456125,0.004195,53.15,2017-11-07,2879,9.681174e+09,8.172363e+09
987,8786.910548,0.004204,40.84,2017-11-07,2886,6.270937e+09,5.974660e+09
988,6966.844342,0.005524,41.24,2017-11-07,603138,7.526605e+09,3.706346e+09
989,9287.285117,0.007795,28.35,2017-11-07,603286,5.778287e+09,4.088668e+09
990,10104.251106,0.005119,31.97,2017-11-07,603938,1.135862e+10,8.209734e+09
991,9298.876356,0.007388,28.29,2017-11-08,603286,5.797270e+09,4.046707e+09
992,10106.325312,0.006542,35.16,2017-11-08,603938,1.138740e+10,8.227841e+09
993,9339.078054,0.007545,28.44,2017-11-09,603286,5.830744e+09,4.007168e+09
994,10421.343440,0.004398,38.68,2017-11-09,603938,1.183851e+10,7.897598e+09
995,7383.322842,0.004369,50.75,2017-11-10,2879,1.013873e+10,7.954244e+09
996,9299.803804,0.007760,28.45,2017-11-10,603286,5.823123e+09,3.998334e+09
997,8018.943394,0.003610,240.00,2017-11-10,300618,4.116943e+10,3.064609e+10
998,7482.441979,0.003965,47.70,2017-11-13,2879,1.035222e+10,7.813632e+09
999,9336.684219,0.009005,28.62,2017-11-13,603286,5.855649e+09,4.003743e+09
1000,7518.971936,0.005465,45.40,2017-11-14,2879,1.045747e+10,7.779668e+09
1001,9359.904450,0.009234,29.84,2017-11-14,603286,5.879188e+09,3.998169e+09
1002,7565.748038,0.007291,45.41,2017-11-15,2879,1.056788e+10,7.704311e+09
1003,9550.396924,0.007903,30.43,2017-11-15,603286,6.018063e+09,3.885992e+09
1004,7420.037838,0.006873,44.90,2017-11-16,2879,1.043257e+10,7.711672e+09
1005,7273.220573,0.008199,38.09,2017-11-16,603138,7.940019e+09,6.315975e+09
1006,9740.116115,0.006894,28.91,2017-11-16,603286,6.163779e+09,3.717453e+09
1007,8398.473659,0.005474,209.31,2017-11-16,300618,4.510199e+10,2.832924e+10
1008,11297.329091,0.005380,14.93,2017-11-16,603676,1.289358e+10,1.813719e+09
1009,7344.253841,0.007186,45.40,2017-11-17,2879,1.037300e+10,7.726224e+09
1010,8445.984616,0.005203,195.51,2017-11-17,300618,4.562046e+10,2.827597e+10
1011,11162.915480,0.006870,14.02,2017-11-17,603676,1.276624e+10,2.352430e+09
1012,7330.965242,0.008255,49.94,2017-11-20,2879,1.039403e+10,7.705713e+09
1013,8534.205750,0.007227,214.09,2017-11-20,300618,4.632366e+10,2.795869e+10
1014,11110.545356,0.005572,13.97,2017-11-20,603676,1.271304e+10,2.594440e+09

In [8]:
statis.to_csv('D:/Documents/Go Abroad/实习/成交金额/Python数据/2017_2/2017-60-30.csv', index=False)

·出现上述情况的各股票次数

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame
import datetime
%matplotlib inline

In [4]:
data = pd.read_csv('D:/Documents/Go Abroad/实习/成交金额/Python数据//2017_2/2017-60-30.csv',encoding='gbk',engine='python')

In [5]:
data = data.sort_values(by = 'stock')
data = data.reset_index(drop=True)

In [6]:
counter = data.groupby('stock').size()

In [7]:
stock_id = list(set(data['stock']))
stock_id.sort()

In [8]:
computa = pd.DataFrame({'stock': stock_id, 'count': list(counter)}, columns = ['stock', 'count'])
computa

     stock  count
0      615     10
1      877     10
2     2307      6
3     2346      9
4     2457     11
5     2497     11
6     2742     23
7     2809     12
8     2819      3
9     2830     40
10    2836     12
11    2837      7
12    2842     21
13    2843     11
14    2845     17
15    2846     16
16    2847     18
17    2848      7
18    2853      8
19    2876     12
20    2877      7
21    2878      1
22    2879     22
23    2883      1
24    2886      7
25  300137      6
26  300157      4
27  300344     14
28  300514      2
29  300526      2
..     ...    ...
65  603042      1
66  603096      9
67  603098     16
68  603133     10
69  603138     13
70  603165     18
71  603186      1
72  603197      4
73  603200      7
74  603208      1
75  603232      2
76  603286     26
77  603320     15
78  603322      8
79  603337      4
80  603388     20
81  603444      1
82  603496      8
83  603505     16
84  603559     18
85  603603      7
86  603616      3
87  603638      9
88  603668      4
89  603676      3
90  603689      3
91  603757      2
92  603879     11
93  603896     23
94  603938     29

[95 rows x 2 columns]

In [9]:
computa.to_csv('D:/Documents/Go Abroad/实习/成交金额/Python数据//2017_2/counter6030.csv', index = False)

·成交金额与涨跌幅正相关性较强股票

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame
import datetime
%matplotlib inline

In [10]:
data = pd.read_csv('D:/Documents/Go Abroad/实习/成交金额/Python数据//2017_2/counter6030.csv',encoding='gbk',engine='python')

In [11]:
data_fit = data[data['count'] >= 15]
data_fit = data_fit.sort_values(by = 'count', ascending = False)
data_fit = data_fit.reset_index(drop = True)
data_fit

     stock  count
0   300618     65
1     2830     40
2   300554     32
3   603938     29
4   300619     27
5   603286     26
6   603896     23
7   300666     23
8     2742     23
9   300609     22
10    2879     22
11  603032     22
12    2842     21
13  603388     20
14  300645     18
15    2847     18
16  603165     18
17  603559     18
18    2845     17
19  300656     17
20    2846     16
21  603098     16
22  603505     16
23  300661     15
24  603320     15